@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Calibri, Arial, sans-serif;
  font-size: 110%;
  color: #444;
}

body.theme-dark {
  background: #292929;
  color: #bfbfbf;
}

h2 {
  margin: 1rem 0;
  color: #1e78c2;
}

article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  min-height: 100%;
  box-sizing: border-box;
}
.theme-dark article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  color: #666;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  position: relative;
}
footer.grad {
  background: #f9f9f9 linear-gradient(180deg, #eee, transparent, transparent, #eee);
  width: 100%;
  box-sizing: border-box;
}
.theme-dark footer.grad {
  background: #252525 linear-gradient(180deg, #232323, transparent, transparent, #232323);
}
footer.border {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 5px solid #88dff9;
}
footer.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
footer .col.fill {
  flex-grow: 1;
}
footer .row {
  padding-bottom: 0.4rem;
}
footer .row:last-child {
  padding-bottom: 0;
}
footer .item-list.themes {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.item-list {
  display: inline-block;
}
.item-list .key {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: #888;
}
.item-list .item {
  margin-right: 0.1rem;
  white-space: nowrap;
  vertical-align: middle;
}
.item-list .item span {
  vertical-align: middle;
}
.item-list .item.button {
  display: inline-block;
  padding: 0.05rem 0.2rem;
  border-radius: 0.2em;
  background: #e6e6e6;
  color: #797979;
  border: 1px solid #a0a0a0;
  cursor: pointer;
  font-size: 0.7em;
}
.theme-dark .item-list .item.button {
  background: #464646;
  color: #797979;
  border-color: #656565;
}
.item-list .item.button.active {
  background: #b6eeff;
  color: #3e89a0;
  border: 1px solid #43b3d6;
}
.theme-dark .item-list .item.button.active {
  background: #2d4d56;
  color: #72b8ce;
  border-color: #6292a0;
}

div.tippy-box {
  color: #444;
}
.theme-dark div.tippy-box {
  color: #bfbfbf;
}
div.tippy-box[data-theme~=dark] {
  box-shadow: 0 2px 4px 0 rgba(0, 8, 16, 0.25);
  border: 1px solid #545454 !important;
}
div.tippy-box[data-theme~=dark] .tippy-arrow:after {
  border-top-color: #545454 !important;
}
div.tippy-box[data-theme~=help-popup] {
  font-size: 1.1rem;
}

header h1 {
  font-size: 2em;
  margin: 0 0 1rem 0;
  color: #1e78c2;
  text-align: center;
  position: relative;
}
.theme-dark header h1 {
  color: #5fa6bf;
}
header h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 0.5em;
  border-top: 5px solid #3ab5e6;
}
.theme-dark header h1::before {
  border-color: #5fa6bf;
}
header h1 span {
  background: #fff;
  z-index: 1;
  position: relative;
  box-shadow: 1rem 0 0 #fff, -1rem 0 0 #fff;
}
.theme-dark header h1 span {
  background: #292929;
  box-shadow: 1rem 0 0 #292929, -1rem 0 0 #292929;
}
header .image {
  position: relative;
  margin-bottom: 1rem;
}
header .image::before {
  float: left;
  padding-top: 40%;
  content: "";
}
header .image::after {
  display: block;
  content: "";
  clear: both;
}
header .image img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
header .image.align-25p img {
  object-position: center 25%;
}
header .image.align-75p img {
  object-position: center 75%;
}
header .image.align-top img {
  object-position: center top;
}
header .image.align-bottom img {
  object-position: center bottom;
}
header .stats {
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  flex-wrap: wrap;
}
header .stats .filler {
  flex-grow: 1;
}
header .stats .words {
  margin-right: 1rem;
}
header .rating .score {
  color: #fff;
  background: #b3b3b3;
  border-radius: 2px;
  padding: 0 0.25rem;
  margin-left: 0.25rem;
}
header .rating.extremely-easy .score, header .rating.very-easy .score {
  background: #a56bb3;
}
header .rating.easy .score {
  background: #6bb38b;
}
header .rating.medium .score {
  background: #6b92b3;
}
header .rating.difficult .score {
  background: #b3896b;
}
header .rating.very-difficult .score {
  background: #b36b6b;
}
header p {
  border-width: 5px 0;
  border-style: solid;
  border-color: #88dff9;
  padding: 1rem 1rem;
  font-style: italic;
  color: #555;
  margin: 1rem 0 0 0;
  text-align: center;
}
.theme-dark header p {
  border-color: #86a7b3;
  color: #a7a7a7;
}

section.content {
  padding: 1rem 0 0 0;
  line-height: 1.4rem;
}
section.content ul, section.content ol {
  margin: 1rem 0;
  padding-left: 2rem;
}
section.content p {
  margin: 1rem 0;
  text-align: justify;
}
section.content p:first-child {
  margin-top: 0;
}
section.content p:last-child {
  margin-bottom: 0;
}
section.content .word:focus, section.content .word:active {
  outline: none;
}
section.content .word.extra, section.content.cet6 .word.cet6, section.content.ielts .word.ielts {
  border-radius: 2px;
  color: #888;
  cursor: pointer;
  padding: 0 0.15em;
  margin: 0 -0.15em;
  -webkit-tap-highlight-color: transparent;
}
section.content.cet6 .word.cet6-low, section.content.ielts .word.ielts-low {
  color: #e28d50;
}
.theme-dark section.content.cet6 .word.cet6-low, .theme-dark section.content.ielts .word.ielts-low {
  color: #bb8b69;
}
section.content.cet6 .word.cet6-med, section.content.ielts .word.ielts-med {
  color: #50b3e2;
}
.theme-dark section.content.cet6 .word.cet6-med, .theme-dark section.content.ielts .word.ielts-med {
  color: #6fa8c3;
}
section.content.cet6 .word.cet6-high, section.content.ielts .word.ielts-high {
  color: #e250ae;
}
.theme-dark section.content.cet6 .word.cet6-high, .theme-dark section.content.ielts .word.ielts-high {
  color: #c1619f;
}
section.content.cet6 .word.cet6:focus, section.content.ielts .word.ielts:focus, section.content .word.extra:focus, section.content.cet6 .word.cet6:hover, section.content.ielts .word.ielts:hover, section.content .word.extra:hover, section.content.cet6 [aria-expanded=true].word.cet6, section.content.ielts [aria-expanded=true].word.ielts, section.content [aria-expanded=true].word.extra {
  color: #fff;
  background: #888;
}
.theme-dark section.content.cet6 .word.cet6:focus, .theme-dark section.content.ielts .word.ielts:focus, .theme-dark section.content .word.extra:focus, .theme-dark section.content.cet6 .word.cet6:hover, .theme-dark section.content.ielts .word.ielts:hover, .theme-dark section.content .word.extra:hover, .theme-dark section.content.cet6 [aria-expanded=true].word.cet6, .theme-dark section.content.ielts [aria-expanded=true].word.ielts, .theme-dark section.content [aria-expanded=true].word.extra {
  color: #aaa;
  background: #444;
}
section.content.cet6 .word.cet6-low:focus, section.content.cet6 .word.cet6-low:hover, section.content.cet6 .word.cet6-low[aria-expanded=true], section.content.ielts .word.ielts-low:focus, section.content.ielts .word.ielts-low:hover, section.content.ielts .word.ielts-low[aria-expanded=true] {
  background: #e28d50;
}
.theme-dark section.content.cet6 .word.cet6-low:focus, .theme-dark section.content.cet6 .word.cet6-low:hover, .theme-dark section.content.cet6 .word.cet6-low[aria-expanded=true], .theme-dark section.content.ielts .word.ielts-low:focus, .theme-dark section.content.ielts .word.ielts-low:hover, .theme-dark section.content.ielts .word.ielts-low[aria-expanded=true] {
  background: #533f30;
  color: #bb8b69;
}
section.content.cet6 .word.cet6-med:focus, section.content.cet6 .word.cet6-med:hover, section.content.cet6 .word.cet6-med[aria-expanded=true], section.content.ielts .word.ielts-med:focus, section.content.ielts .word.ielts-med:hover, section.content.ielts .word.ielts-med[aria-expanded=true] {
  background: #50b3e2;
}
.theme-dark section.content.cet6 .word.cet6-med:focus, .theme-dark section.content.cet6 .word.cet6-med:hover, .theme-dark section.content.cet6 .word.cet6-med[aria-expanded=true], .theme-dark section.content.ielts .word.ielts-med:focus, .theme-dark section.content.ielts .word.ielts-med:hover, .theme-dark section.content.ielts .word.ielts-med[aria-expanded=true] {
  background: #314c59;
  color: #6fa8c3;
}
section.content.cet6 .word.cet6-high:focus, section.content.cet6 .word.cet6-high:hover, section.content.cet6 .word.cet6-high[aria-expanded=true], section.content.ielts .word.ielts-high:focus, section.content.ielts .word.ielts-high:hover, section.content.ielts .word.ielts-high[aria-expanded=true] {
  background: #e250ae;
}
.theme-dark section.content.cet6 .word.cet6-high:focus, .theme-dark section.content.cet6 .word.cet6-high:hover, .theme-dark section.content.cet6 .word.cet6-high[aria-expanded=true], .theme-dark section.content.ielts .word.ielts-high:focus, .theme-dark section.content.ielts .word.ielts-high:hover, .theme-dark section.content.ielts .word.ielts-high[aria-expanded=true] {
  background: #552d47;
  color: #c1619f;
}
.legend .item {
  font-size: 0.9rem;
}
.legend .item:before {
  content: "";
  border-radius: 25%;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25rem;
}
.legend .item.low {
  color: #e28d50;
}
.legend .item.low:before {
  background: #e28d50;
}
.theme-dark .legend .item.low {
  color: #bb8b69;
}
.theme-dark .legend .item.low:before {
  background: #bb8b69;
}
.legend .item.med {
  color: #50b3e2;
}
.legend .item.med:before {
  background: #50b3e2;
}
.theme-dark .legend .item.med {
  color: #6fa8c3;
}
.theme-dark .legend .item.med:before {
  background: #6fa8c3;
}
.legend .item.high {
  color: #e250ae;
}
.legend .item.high:before {
  background: #e250ae;
}
.theme-dark .legend .item.high {
  color: #c1619f;
}
.theme-dark .legend .item.high:before {
  background: #c1619f;
}
.legend .item.extra {
  color: #888;
}
.legend .item.extra:before {
  background: #888;
}
.theme-dark .legend .item.extra {
  color: 444;
}
.theme-dark .legend .item.extra:before {
  background: 444;
}

div.tippy-box[data-theme~=definition-popup] {
  box-shadow: 0 2px 4px 0 rgba(0, 8, 16, 0.15);
  border-color: #e0e0e0;
}
div.tippy-box[data-theme~=definition-popup] .tippy-arrow:after {
  border-top-color: #e0e0e0 !important;
}
div.tippy-box[data-theme~=definition-popup] .definitions {
  font-size: 1.1rem;
  white-space: pre-wrap;
}
div.tippy-box[data-theme~=definition-popup] .definitions .pos {
  font-style: italic;
  color: #666;
}
.theme-dark div.tippy-box[data-theme~=definition-popup] .definitions .pos {
  color: #999;
}
div.tippy-box[data-theme~=definition-popup] .definitions .pos:after {
  content: "•";
  vertical-align: middle;
  font-size: 0.8em;
  padding: 0 0.25rem;
}
section.questions ol {
  margin: 0;
  line-height: 1.5em;
}
section.questions ol li {
  padding-bottom: 0.25rem;
}
section.questions .question {
  font-weight: bold;
}
section.questions .answer {
  margin-left: 1rem;
}
section.questions .answer span.button {
  padding: 0.05rem 0.5rem;
}
section.questions .answer span.button:before {
  font-size: 1em;
  content: "Show Answer";
}
section.questions .answer .contents {
  display: none;
}
section.questions .answer.open span.button {
  display: none;
}
section.questions .answer.open .contents {
  display: inline-block;
  padding: 0.05rem 0;
  border: 1px solid transparent;
  border-left: 3px solid #88dff9;
  padding-left: 0.5rem;
}

section.difficult_words ol {
  margin: 0;
  line-height: 1.5em;
}
section.difficult_words ol li {
  padding-bottom: 0.25rem;
}
section.difficult_words .word {
  font-weight: bold;
}
section.difficult_words .word:after {
  content: ": ";
}
section.difficult_words .definition {
  display: inline;
}

/*# sourceMappingURL=main.css.map */
