html, body {
	margin: 0;
	padding: 0;

	font-family: Calibri, Arial, sans-serif;
	font-size: 110%;
	color: #444;
}

article {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	min-height: 100%;
	box-sizing: border-box;
}

header {

}
header h1 {
	font-size: 2em;
	margin: 0 0 1rem 0;
	color: #1e78c2;
	text-align: center;
	position: relative;
}
header h1::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 0.5em;
	z-index: -1;
	border-top: 5px solid #3ab5e6;
}
header h1 span {
	background: #fff;
	z-index: 1;
	box-shadow: 1rem 0 0 #fff, -1rem 0 0 #fff;
}
header .image {
	position: relative;
	margin-bottom: 1rem;
}
header .image::before {
	float: left;
	padding-top: 40%;
	content: '';
}
header .image::after {
	display: block;
	content: '';
	clear: both;
}
header .image img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px;
}
header .image img.align-top {
	object-position: center top;
}
header .stats {
	display: flex;
	font-size: 1.1em;
	font-weight: bold;
	flex-wrap: wrap;
}
header .stats .filler {
	flex-grow: 1;
}
header .stats .words {
	margin-right: 1rem;
}
header p {
	border: 5px solid #88dff9;
	border-width: 5px 0;
	padding: 1rem 1rem;
	font-style: italic;
	color: #555;
	margin: 1rem 0 0 0;
	text-align: center;
}

section.text {
	padding: 1rem 0 0 0;
	line-height: 1.4rem;
}
section.text p {
	margin: 1rem 0;
	text-align: justify;
}
section.text p:first-child {
	margin-top: 0;
}
section.text p:last-child {
	margin-bottom: 0;
}
section.text .word {
	border-radius: 2px;
	color: #9f9f9f;
	cursor: pointer;
	padding: 0 2px;
}
section.text .word:focus, section.text .word:active {
	outline: none;
}
section.text .word.low { color: #e28d50; }
section.text .word.med { color: #50b3e2; }
section.text .word.high { color: #e250ae; }
section.text .word.hard { color: #ff7575; }
section.text .word:hover, section.text .word:focus, section.text .word[aria-expanded="true"] {
	background: #999;
	color: #fff;
}
section.text .word.low:hover, section.text .word.low:focus, section.text .word.low[aria-expanded="true"] { background: #e28d50; }
section.text .word.med:hover, section.text .word.med:focus, section.text .word.med[aria-expanded="true"] { background: #50b3e2; }
section.text .word.high:hover, section.text .word.high:focus, section.text .word.high[aria-expanded="true"] { background: #e250ae; }
section.text .word.hard:hover, section.text .word.hard:focus, section.text .word.hard[aria-expanded="true"] { background: #ff7575; }

footer {
	color: #666;
}
footer.grad {
	background: linear-gradient(180deg, #eee, transparent, transparent);
	width: 100%;
	margin: 1rem -1rem -1rem -1rem;
	padding: 1rem;
}
footer.border {
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 5px solid #88dff9;
}

.legend {

}
.legend-key {
	padding-right: 0.5rem;
	font-size: 0.9rem;
}
.legend-item {
	padding-right: 0.5rem;
	font-size: 0.9rem;
	white-space: nowrap;
	vertical-align: middle;
}
.legend-item:before {
	content: '';
	border-radius: 25%;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 0.25rem;
}
.legend-item.low:before { background: #e28d50; }
.legend-item.low { color: #e28d50; }
.legend-item.med:before { background: #50b3e2; }
.legend-item.med { color: #50b3e2; }
.legend-item.high:before { background: #e250ae; }
.legend-item.high { color: #e250ae; }
.legend-item.hard:before { background: #ff7575; }
.legend-item.hard { color: #ff7575; }

div.tippy-box[data-theme~=definition-popup] {
	box-shadow: 0 2px 4px 0 rgba(0, 8, 16, 0.15);
	border-color: #e0e0e0;
}
div.tippy-box[data-theme~=definition-popup] .tippy-arrow:after {
	border-top-color: #e0e0e0 !important;
}
div.tippy-box[data-theme~=definition-popup] .definitions {
	font-size: 1.5em;
	white-space: pre-wrap;
}
.definitions .pos {
	font-style: italic;
	color: #666;
}
.definitions .pos:after {
	content: '•';
	vertical-align: middle;
	font-size: 0.8em;
	padding: 0 0.25rem;
}
.definitions .text {

}
