@import "core";

$base-clr: #12a89d;
$light-clr: #6cc8c3;
$ultra-light-clr: #bdecea;

article {
	max-width: 800px;
}

header {
	margin: -0.5rem -0.5rem 1rem -0.5rem;
	overflow: hidden;

	background: $base-clr;
	border-radius: 0.25rem;

	.top {
		display: flex;

		.title {
			flex-grow: 1;
			padding: 0.5rem;

			color: #fff;
			font-size: 1.1em;
		}
		.word-lists {
			padding: 0.5rem;

			background: #fff;
			border-radius: 0 0 0 0.25rem;
			font-weight: bold;
			text-align: center;

			.cet:before {
				content: 'CET ✓';
				color: #548fd8;
				white-space: nowrap;
			}
			.ielts:before {
				content: 'IELTS ✓';
				color: #d85454;
				white-space: nowrap;
			}
		}
	}
}
h1 {
	margin: 0 0 0 1rem;
	padding: 0.5rem;
	line-height: 1em;

	color: #fff;
	font-size: 2.5em;
	//text-align: right;
	//text-transform: lowercase;
}

h2 {
	margin: 0 0 1rem 0;
	color: $base-clr;
	font-size: 2.5em;
}

section {
	margin: 1rem 0;
}
section:last-child {
	margin: 0;
}

ol.definitions {
	margin: 0;
	padding-left: 2rem;
	font-size: 1.25em;
	overflow: hidden;

	li::marker {
		font-size: 1.25em;
	}

	li + li {
		margin-top: 1rem;
	}

	.info {
		display: flex;
		align-items: baseline;

		.pos {
			flex-grow: 1;
			padding-right: 0.5rem;
			color: #666;
		}
		.translation {
			font-size: 1.5em;
			color: $light-clr;
		}
	}
	.pronunciation {
		color: #888;
	}
	.meaning {
		color: $base-clr;
		font-size: 1em;
	}
	&.simple .meaning {
		text-align: left;
	}
	blockquote {
		text-align: center;
		font-size: 0.9em;
		margin: 1.5rem 0 0 -2rem;
		position: relative;
		padding: 0 2.5rem;

		&:before, &:after {
			content: open-quote;
			font-size: 3.5em;
			font-weight: bold;
			color: $ultra-light-clr;
			vertical-align: middle;
			line-height: 0;
			height: 0;
			position: absolute;
			left: 0;
			top: 0.35em;
		}
		&:before {
			padding-right: 1rem;
		}
		&:after {
			content: close-quote;
			padding-left: 1rem;
			left: auto;
			right: 0;
		}

		.word {
			color: $base-clr;
		}
	}
}

section.images {
	figure {
		width: 100%;
		margin: 0;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: 50vmin;
			object-fit: cover;

			overflow: hidden;
			border-radius: 0.25rem;
		}
		figcaption {
			color: #666;
			text-align: center;
			font-style: italic;
			font-size: 0.9em;
			margin-top: 0.25rem;
			padding: 0 0.5rem;
		}
	}

	&.cols-2 {
		display: flex;

		figure {
			flex-shrink: 1;

			&:first-child {
				margin-right: 0.25rem;
			}
			&:last-child {
				margin-left: 0.25rem;
			}
		}
	}
}